body {
	font-family: 'Alegreya', Monaco, serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
code {
	background-color: #ddd;
}
h2 {
	margin: 10px 0 5px 0;
	padding: 0;
}
p {
	padding: 0;
	margin: 5px 0;
}
a:link, a:visited {
	color: #1E6676;
}
a:hover {
	color: #14434D;
}

#container {
}

p.small {
	font-size: 0.7em;
	font-style: italic;
}

table.places {
	font-size: 0.85em;
}
table.places td {
	padding-right: 5px;
}

.sidebar {
	width: 250px;
	opacity: 0.7;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 15px;
	border-right: 4px solid #ddd;
	overflow: hidden;
}
.sidebar h1 {
	font-size: 1.4em;
}
.sidebar h2 {
	font-size: 1.0em;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: -1;
}

.author {
	position: absolute;
	font-size: 0.9em;
	padding: 15px;
	bottom: 0;
}

.about {
	font-size: 0.8em;
}

.fb-like, .tweet {
	display: inline;
}

.hide { display: none; }